::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	opacity: 0.5;
}
::-webkit-scrollbar-thumb {
	background-color: rgba($color: #ffffff, $alpha: 30%);
	border-radius: 20px;
	box-shadow: inset 0 0 0 white;
}
